[Unit]
Description=Digest Service
Wants=network-online.target
After=network.target network-online.target postgres.service

[Service]
WorkingDirectory=/srv/
User=opc
ExecStart=/usr/bin/java -jar /srv/digest-service-0.0.8-SNAPSHOT.jar
StandardOutput=journal
StandardError=journal
SyslogIdentifier=digest
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
