body {
	max-width: max-content;
	margin: auto;
	font-size: 1.2em;
}
h1 {
	text-align: center;
}
.login-table {
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}
.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 1em;
}
.key {
	text-align: left;
}
.text-field {
	font-size: 0.8em;
	max-width: 200px;
	min-width: 180px;
	margin-bottom: 5px;
}
.error {
	color: maroon;
	font-weight: bold;
	font-size: 0.75em;
	text-align: center;
}
