body {
	background: #FFF;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	max-width: 1366px;
	min-width: 240px;
	margin: auto;
	padding: 10px;
}
a:link,
a:visited,
a:active {
	color: #222;
	background: transparent;
	text-decoration: underline;
}
a:hover {
	background: transparent;
	color: #FF6600;
	text-decoration: underline;
}
table, tr, td {
	font-size: 11px;
	color: #222;
}
.pad {
	padding: 0;
}
.telegram-chat {
	color: #0088CC !important;
}
/*.banner {*/
/*	width: 100%;*/
/*}*/
.logo {
	vertical-align: top;
}
.copyright {
	background: #EEE;
	font-size: 11px;
	padding: 8px;
	text-align: center;
	line-height: 135%;
}
.copyright a {
	text-decoration: none;
}
