/* General */
body {
	background: #FFF;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	max-width: 1366px;
	min-width: 1024px;
	margin: auto;
	padding: 10px;
}
a:link,
a:visited,
a:active {
	color: #222;
	background: transparent;
	text-decoration: underline;
}
a:hover {
	background: transparent;
	color: #FF6600;
	text-decoration: underline;
}
table, tr, td {
	font-size: 11px;
	color: #222;
}
input, textarea, select {
	background: #FFF;
	border: 1px solid #FE9855;
	color: #000;
	font-size: 10px;
	padding: 2px;
	margin-right: 3px;
}

/* Header */
.banner {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.logo {
	vertical-align: top;
	border: 0;
}
.td-logo {
	padding: 0;
	text-align: left;
	vertical-align: top;
}
#td-logo-chunk-1 {
	width: 370px;
}
#td-logo-chunk-2 {
	width: 141px;
}
#td-logo-chunk-3 {
	width: 52px;
	height: 103px;
}
#td-logo-chunk-4 {
	width: 335px;
	height: 103px;
}
#td-logo-chunk-5 {
	width: 100%;
	height: 103px;
}
#td-logo-chunk-6 {
	height: 47px;
}
#td-logo-chunk-7 {
	height: 50px;
}
#img-logo-chunk-1 {
	width: 370px;
	height: 200px;
}
#img-logo-chunk-2 {
	width: 141px;
	height: 200px;
}
#img-logo-chunk-3 {
	width: 52px;
	height: 103px;
}
#img-logo-chunk-4 {
	width: 335px;
	height: 103px;
}
#img-logo-chunk-5 {
	width: 100%;
	height: 103px;
}
.telegram-link {
	color: #0088CC !important;
}
.telegram-link:hover {
	color: #FF6600 !important;
}

/* Pager */
.paginator {
	margin-top: 10px;
	margin-bottom: 10px;
}
.page-link, .page-link-active {
	color: #495143;
	background: #FFF5E0;
	border: 1px solid #FF6600;
	padding: 1px 3px 1px 3px;
	font-size: 11px;
	margin-right: 3px;
}
.page-link-active {
	background: #C9A5FF;
}
.page-link a:active,
.page-link a:visited,
.page-link a:link,
.page-link-active a:active,
.page-link-active a:visited,
.page-link-active a:link {
	text-decoration: none;
}
.page-label {
	color: #495143;
	font-size: 11px;
	margin-right: 3px;
}

/* Content */
.digest {
	min-height: 700px;
}
.table-header, .table-header-right {
	font-weight: bold;
	font-size: 12px;
}
.table-header-right {
	float: right;
	color: #495143;
}
.table-header-right a {
	color: darkred;
}

/* Footer */
.copyright {
	background: #EEE;
	font-size: 11px;
	padding: 8px;
	text-align: center;
	line-height: 135%;
}
.copyright a {
	text-decoration: none;
}
