<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title th:text="#{digest.title}"></title>
    </head>
    <body>
        <table th:if="${count gt 0}">
            <tbody th:remove="all-but-first">
            <tr th:each="digest : ${digests}">
                <td th:text="${digest.username}">Username</td>
                <td th:text="${digest.group}">Group</td>
                <td><img width="128px" height="128px" th:title="${digest.username}" th:src="${digest.avatar}" /></td>
                <td th:text="${digest.date}">Date</td>
                <td th:text="${digest.message}">Digest</td>
            </tr>
            </tbody>
        </table>
        <h3 th:unless="${count gt 0}" th:text="#{digest.list.empty}"></h3>
    </body>
</html>
