<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${#locale}">
	<head th:replace="~{head ::data(#{site.title.error},false)}"><title>Error | Digest Service</title></head>
	<body>
		<!--/*@thymesVar id="timestamp" type="java.lang.String"*/-->
		<!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
		<!--/*@thymesVar id="error" type="java.lang.String"*/-->
		<!--/*@thymesVar id="message" type="java.lang.String"*/-->
		<div class="page">
			<div th:replace="~{header :: banner}">Header</div>
			<div id="error" class="digest">
				<h1 th:text="#{site.error.title}">Error!</h1>
				<p>
					<span th:text="#{site.error.timestamp}">Timestamp:</span>
					<span th:text="${timestamp}"></span>
				</p>
				<p>
					<span th:text="#{site.error.status}">Status:</span>
					<span th:text="${status}"></span>
					<span th:text="${error}"></span>
				</p>
				<p>
					<span th:text="#{site.error.message}">Message:</span>
					<span th:text="${message}"></span>
				</p>
			</div>
			<div th:replace="~{footer :: copyright}">Footer</div>
		</div>
	</body>
</html>
