<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body>
		<div class="page">
			<div class="main">
				<div class="content">
					<div>
						<!--/*@thymesVar id="exchange" type="ru.exlmoto.digest.site.form.ExchangeForm"*/-->
						<div th:fragment="exchange-form">
							<p><a href="/obey/exchange/update" th:text="#{site.obey.exchange.update}">Update Exchange Rates</a></p>
							<div class="post-form">
								<h3 th:text="#{site.obey.exchange}">Exchange Rates</h3>
								<form th:action="@{/obey/exchange/edit}" th:object="${exchange}" th:method="post">
									<table class="exchange-table">
										<tr>
											<th>Name</th>
											<th>Date</th>
											<th>Usd</th>
											<th>Eur</th>
											<th>Gbp</th>
											<th>Cny</th>
											<th>Rub</th>
											<th>Uah</th>
											<th>Byn</th>
											<th>Kzt</th>
											<th>Gold</th>
											<th>Silver</th>
											<th>Platinum</th>
											<th>Palladium</th>
										</tr>
										<tr>
											<td>RUB</td>
											<td><label><input type="text" th:field="*{rub.date}" size="10"/></label></td>
											<td><label><input type="text" th:field="*{rub.usd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.eur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.gbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.cny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.rub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.uah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.byn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.kzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.gold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.silver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.platinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.palladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>UAH</td>
											<td><label><input type="text" th:field="*{uah.date}" size="10"/></label></td>
											<td><label><input type="text" th:field="*{uah.usd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.eur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.gbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.cny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.rub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.uah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.byn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.kzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.gold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.silver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.platinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.palladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>BYN</td>
											<td><label><input type="text" th:field="*{byn.date}" size="10"/></label></td>
											<td><label><input type="text" th:field="*{byn.usd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.eur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.gbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.cny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.rub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.uah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.byn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.kzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.gold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.silver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.platinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.palladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>KZT</td>
											<td><label><input type="text" th:field="*{kzt.date}" size="10"/></label></td>
											<td><label><input type="text" th:field="*{kzt.usd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.eur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.gbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.cny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.rub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.uah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.byn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.kzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.gold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.silver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.platinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.palladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>Metal</td>
											<td><label><input type="text" th:field="*{metal.date}" size="10"/></label></td>
											<td><label><input type="text" th:field="*{metal.usd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.eur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.gbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.cny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.rub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.uah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.byn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.kzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.gold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.silver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.platinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.palladium}" class="td-value"/></label></td>
										</tr>
									</table>
									<table class="exchange-table">
										<tr>
											<th>Name</th>
											<th>prevUsd</th>
											<th>prevEur</th>
											<th>prevGbp</th>
											<th>prevCny</th>
											<th>prevRub</th>
											<th>prevUah</th>
											<th>prevByn</th>
											<th>prevKzt</th>
											<th>prevGold</th>
											<th>prevSilver</th>
											<th>prevPlatinum</th>
											<th>prevPalladium</th>
										</tr>
										<tr>
											<td>RUB</td>
											<td><label><input type="text" th:field="*{rub.prevUsd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevEur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevGbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevCny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevRub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevUah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevByn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevKzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevGold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevSilver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevPlatinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{rub.prevPalladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>UAH</td>
											<td><label><input type="text" th:field="*{uah.prevUsd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevEur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevGbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevCny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevRub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevUah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevByn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevKzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevGold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevSilver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevPlatinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{uah.prevPalladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>BYN</td>
											<td><label><input type="text" th:field="*{byn.prevUsd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevEur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevGbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevCny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevRub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevUah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevByn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevKzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevGold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevSilver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevPlatinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{byn.prevPalladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>KZT</td>
											<td><label><input type="text" th:field="*{kzt.prevUsd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevEur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevGbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevCny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevRub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevUah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevByn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevKzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevGold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevSilver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevPlatinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{kzt.prevPalladium}" class="td-value"/></label></td>
										</tr>
										<tr>
											<td>Metal</td>
											<td><label><input type="text" th:field="*{metal.prevUsd}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevEur}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevGbp}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevCny}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevRub}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevUah}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevByn}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevKzt}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevGold}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevSilver}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevPlatinum}" class="td-value"/></label></td>
											<td><label><input type="text" th:field="*{metal.prevPalladium}" class="td-value"/></label></td>
										</tr>
									</table>
									<p>
										<input class="button" type="submit" value="Save" th:value="#{site.obey.content.action.save}"/>
									</p>
								</form>
							</div>
							<div class="spring"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
