<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
	<body>
		<table th:fragment="banner" class="banner" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td rowspan="3" width="370" class="pad" align="left" valign="top">
					<a th:title="#{site.header.logo.tooltip}" th:href="${@environment.getProperty('site.host')}">
						<img class="logo" border="0" width="370" height="200"
						     src="../static/image/header1.gif" th:src="@{/image/header1.gif}" alt="Logo chunk #1."/>
					</a>
				</td>
				<td rowspan="3" width="141" class="pad" align="left" valign="top">
					<a th:title="#{site.header.logo.tooltip}" th:href="${@environment.getProperty('site.host')}">
						<img class="logo" border="0" width="141" height="200"
						     src="../static/image/header2.gif" th:src="@{/image/header2.gif}" alt="Logo chunk #2."/>
					</a>
				</td>
				<td width="52" height="103" class="pad" align="left" valign="top">
					<img class="logo" border="0" width="52" height="103"
					     src="../static/image/header3.gif" th:src="@{/image/header3.gif}" alt="Logo chunk #3."/>
				</td>
				<td width="335" height="103" class="pad" align="left" valign="top">
					<img class="logo" border="0" width="335" height="103"
					     src="../static/image/header4.gif" th:src="@{/image/header4.gif}" alt="Logo chunk #4."/>
				</td>
				<td  width="100%" height="103" class="pad" align="left" valign="top">
					<img class="logo" border="0" width="100%" height="103"
					     src="../static/image/header5.gif" th:src="@{/image/header5.gif}" alt="Logo chunk #5."/>
				</td>
			</tr>
			<tr>
				<td colspan="3" height="47"></td>
			</tr>
			<tr>
				<td colspan="3" height="50">
					<p class="site-menu">
						<strong>
							&bull;
							<a href="//motofan.ru" target="_blank"
							   th:text="#{site.header.menu.site}">
								Site
							</a>
							&bull;
							<a href="//wiki.motofan.ru" target="_blank"
							   th:text="#{site.header.menu.wiki}">
								MotoWiki
							</a>
							&bull;
							<a href="//forum.motofan.ru/index.php?act=Search&amp;f=" target="_blank"
							   th:text="#{site.header.menu.search}">
								Search
							</a>
							&bull;
							<a href="//forum.motofan.ru/index.php?act=Members" target="_blank"
							   th:text="#{site.header.menu.members}">
								Members
							</a>
							&bull;
							<a href='//forum.motofan.ru/index.php?act=announce&amp;f=70&amp;id=17' target="_blank"
							   th:text="#{site.header.menu.rules}">
								Forum Rules
							</a>
							&bull;
							<a href="//forum.motofan.ru/index.php?act=rating&amp;CODE=show" target="_blank"
							   th:text="#{site.header.menu.rating}">
								Rating
							</a>&nbsp;&bull;
							<a href="//forum.motofan.ru/index.php?showforum=12" target="_blank"
							   th:text="#{site.header.menu.store}">
								Store
							</a>
							&bull;
							<a href="//twitter.com/MotoFanRu" target="_blank"
							   th:text="#{site.header.menu.twitter}">
								Twitter
							</a>
							&bull;
							<a class="telegram-chat" href="//t.me/motofan_ru" target="_blank"
							   th:text="#{site.header.menu.telegram}">
								Telegram-chat
							</a>
							&bull;
						</strong>
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>
