<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${#locale}">
	<head th:replace="~{head :: data(${title},false)}"><title>Digest Service</title></head>
	<body>
		<div class="page">
			<div th:replace="~{header :: banner}">Header</div>
			<div th:if="${posts != null}" class="controls">
				<div th:replace="~{pager :: paginator(up)}">Pager</div>
				<div th:replace="~{search :: search-form(up)}">Search</div>
			</div>
			<div th:if="${posts != null}">
				<div th:replace="~{content :: digest}">Content</div>
			</div>
			<div th:if="${users != null}">
				<div th:replace="~{user :: members}">Users</div>
			</div>
			<div th:if="${help != null}">
				<div th:replace="~{help :: assist}">Help</div>
			</div>
			<div th:if="${posts != null && !posts.digests.isEmpty()}" class="controls">
				<div th:replace="~{pager :: paginator(down)}">Pager</div>
				<div th:replace="~{search :: search-form(down)}">Search</div>
			</div>
			<div th:replace="~{footer :: copyright}">Footer</div>
		</div>
	</body>
</html>
