<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${@environment.getProperty('general.lang')}">
    <head>
        <meta charset="utf-8"/>
        <title th:text="#{markdown.title}"></title>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/hgl.css" th:href="@{/css/hgl.css}" />
    </head>
    <body>
        <form action="#" th:action="@{/markdown}" th:object="${markdownForm}" method="post">
            <p><textarea th:field="*{markup}" th:style="'width:95%'" rows="10"/></p>
            <p><input type="submit"/><input type="checkbox" th:value="*{isMark}" th:text="#{markdown.checkbox}"/></p>
        </form>
        <h1 th:text="#{markdown.preview}"></h1>
        <div th:utext="${markdown}"></div>
    </body>
</html>
