<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${#locale}">
	<head th:replace="~{head :: data(#{site.obey.title},'admin')}"><title>Control Panel</title></head>
	<body>
		<div class="page">
			<div class="main">
				<div class="frame">
					<h3 th:text="#{site.obey.frame.tables}">Tables</h3>
					<p><a href="/obey">Digest</a></p>
					<p><a href="/obey/user">Digest User</a></p>
					<p><a href="/obey/setup">Digest Setup</a></p>
					<p><a href="/obey/flat">Flat Setup</a></p>
					<p><a href="/obey/sub-digest">Digest Sub Digest</a></p>
					<p><a href="/obey/sub-motofan">Digest Sub MotoFan</a></p>
					<p><a href="/obey/sub-greeting">Digest Sub Greeting</a></p>
					<p><a href="/obey/sub-covid">Digest Sub Covid</a></p>
					<p><a href="/obey/sub-covid-ua">Digest Sub Covid Ua</a></p>
					<p><a href="/obey/exchange">Exchange Rate</a></p>
					<p><a href="/obey/member">Member</a></p>
					<h3 th:text="#{site.obey.frame.links}">Links</h3>
					<p><a href="/obey/send" th:text="#{site.obey.send.title}">Send to chat</a></p>
					<p><a href="/ds-auth-logout" th:text="#{site.obey.frame.link.logout}">Logout</a></p>
				</div>
				<div class="content">
					<h3 th:text="#{site.obey.content.data}">Data</h3>
					<div th:if="${digestList != null && !digestList.isEmpty()}">
						<p>
							<a href="/obey/callback" th:text="#{site.obey.digest.callback}">Clear Callback Queries Map</a>
							(<span th:text="#{site.obey.digest.callback.size}">Size:</span> <span th:text="${callbackQueriesMapSize}">0</span>) |
							<a href="/obey/birthday" th:text="#{site.obey.digest.birthday}">Send MotoFan.Ru birthdays</a> |
							<a href="/obey/shredder" th:text="#{site.obey.digest.shredder}">Drop Obsolete Digests</a>
						</p>
						<div th:replace="~{digest :: digest-form}"></div>
						<div th:replace="~{pager :: paginator(up)}">Pager</div>
						<div class="data-table">
							<table>
								<tr>
									<th th:text="#{site.obey.content.id}" nowrap>ID</th>
									<th th:text="#{site.obey.content.user}" nowrap>User</th>
									<th th:text="#{site.obey.content.user.id}" nowrap>User ID</th>
									<th th:text="#{site.obey.content.chat}" nowrap>Chat</th>
									<th th:text="#{site.obey.content.date}" nowrap>Date</th>
									<th th:text="#{site.obey.content.text}" nowrap>Text</th>
									<th th:text="#{site.obey.content.action}" nowrap>Action</th>
								</tr>
								<tr th:each="post : ${digestList}">
									<td th:text="${post.id}">ID</td>
									<td class="td-left" th:text="${post.username}">User</td>
									<td th:text="${post.userId}">User ID</td>
									<td th:text="${post.chat}">Chat</td>
									<td class="td-nowrap" th:text="${post.date}">Date</td>
									<td class="td-text" th:text="${post.text}">Text</td>
									<td class="td-nowrap">
										<a th:href="@{/obey/(edit=${post.id})}" th:text="#{site.obey.content.action.edit}">Edit</a> | <a th:href="@{/obey/delete/{id}(id=${post.id})}" th:text="#{site.obey.content.action.delete}">Delete</a>
									</td>
								</tr>
							</table>
						</div>
						<div th:replace="~{pager :: paginator(down)}">Pager</div>
					</div>
					<div th:if="${userList != null && !userList.isEmpty()}">
						<p><a href="/obey/user/avatar" th:text="#{site.obey.user.avatar}">Update User Avatars</a></p>
						<div th:replace="~{member :: user-form}"></div>
						<div class="data-table">
							<table>
								<tr>
									<th th:text="#{site.obey.content.username}" nowrap>Username</th>
									<th th:text="#{site.obey.content.user.id}" nowrap>User ID</th>
									<th th:text="#{site.obey.content.avatar}" nowrap>Avatar</th>
									<th th:text="#{site.obey.content.action}" nowrap>Action</th>
								</tr>
								<tr th:each="user : ${userList}">
									<td class="td-left" th:text="${user.username}">Username</td>
									<td th:text="${user.id}">ID</td>
									<td class="td-left" th:utext="${user.avatar}">Avatar</td>
									<td class="td-nowrap">
										<a th:href="@{/obey/user/(edit=${user.id})}" th:text="#{site.obey.content.action.edit}">Edit</a> | <a th:href="@{/obey/user/delete/{id}(id=${user.id})}" th:text="#{site.obey.content.action.delete}">Delete</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div th:if="${setup != null}">
						<div class="post-form">
							<h3 th:text="#{site.obey.setup}">Telegram Bot Settings</h3>
							<form th:action="@{/obey/setup/edit}" th:object="${setup}" th:method="post">
								<div>
									<input id="log-checkbox" type="checkbox" th:field="*{log}"/>
									<label for="log-checkbox">BLogUpdates</label>
								</div>
								<div>
									<input id="greeting-checkbox" type="checkbox" th:field="*{greeting}"/>
									<label for="greeting-checkbox">BGreetings</label>
								</div>
								<div>
									<input id="silent-checkbox" type="checkbox" th:field="*{silent}"/>
									<label for="silent-checkbox">BSilent</label>
								</div>
								<p><input class="button" type="submit" value="Save" th:value="#{site.obey.content.action.save}"/></p>
							</form>
						</div>
						<div class="spring"></div>
					</div>
					<div th:if="${owner == true && flat != null}">
						<div th:replace="~{flat :: flat-form}"></div>
					</div>
					<div th:if="${sub_digest != null}">
						<div th:replace="~{subscriber :: subscriber-form(#{site.obey.subscribe.digest},'sub-digest')}"></div>
					</div>
					<div th:if="${sub_motofan != null}">
						<p><a href="/obey/motofan/update" th:text="#{site.obey.motofan.send}">Send New MotoFan.Ru Posts</a></p>
						<div th:replace="~{subscriber :: subscriber-form(#{site.obey.subscribe.motofan},'sub-motofan')}"></div>
					</div>
					<div th:if="${sub_greeting != null}">
						<div th:replace="~{subscriber :: subscriber-form(#{site.obey.subscribe.greeting},'sub-greeting')}"></div>
					</div>
					<div th:if="${sub_covid != null}">
						<p><a href="/obey/covid/send" th:text="#{site.obey.covid.send}">Send COVID-19 Reports</a></p>
						<div th:replace="~{subscriber :: subscriber-form(#{site.obey.subscribe.covid},'sub-covid')}"></div>
					</div>
					<div th:if="${sub_covid_ua != null}">
						<p><a href="/obey/covid/send" th:text="#{site.obey.covid.send}">Send COVID-19 Reports</a></p>
						<div th:replace="~{subscriber :: subscriber-form(#{site.obey.subscribe.covid.ua},'sub-covid-ua')}"></div>
					</div>
					<div th:if="${exchange != null}">
						<div th:replace="~{exchange :: exchange-form}"></div>
					</div>
					<div th:if="${send != null}">
						<div th:replace="~{send :: send-form}"></div>
					</div>
					<div th:if="${owner == true && memberList != null}">
						<div th:replace="~{participant :: member-form}"></div>
						<table class="small-table">
							<tr>
								<th th:text="#{site.obey.content.id}" nowrap>ID</th>
								<th th:text="#{site.obey.content.username}" nowrap>Username</th>
								<th th:text="#{site.obey.content.role}" nowrap>Role</th>
								<th th:text="#{site.obey.content.enabled}" nowrap>Enabled</th>
								<th th:text="#{site.obey.content.action}" nowrap>Action</th>
							</tr>
							<tr th:each="member : ${memberList}">
								<td th:text="${member.id}">ID</td>
								<td class="td-left" th:text="${member.username}">Username</td>
								<td class="td-left" th:utext="${member.role}">Role</td>
								<td th:utext="${member.enabled}">Enabled</td>
								<td class="td-nowrap">
									<a th:href="@{/obey/member/(edit=${member.id})}" th:text="#{site.obey.content.action.edit}">Edit</a> | <a th:href="@{/obey/member/delete/{id}(id=${member.id})}" th:text="#{site.obey.content.action.delete}">Delete</a>
								</td>
							</tr>
						</table>
						<div class="spring"></div>
					</div>
					<div th:if="${owner != null}">
						<div th:unless="${owner}">
							<h4 th:text="#{site.obey.member.access.denied}">Access Denied!</h4>
							<div class="spring"></div>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="~{footer :: copyright}">Footer</div>
		</div>
	</body>
</html>
