<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body>
		<div class="page">
			<div class="main">
				<div class="content">
					<div>
						<!--/*@thymesVar id="send" type="ru.exlmoto.digest.site.form.SendForm"*/-->
						<div th:fragment="send-form">
							<div class="post-form">
								<h3 th:text="#{site.obey.send.title}">Send to chat</h3>
								<form th:action="@{/obey/send/chat}" th:object="${send}" th:method="post">
									<div class="form-block">
										<label for="chatid-send-field" th:text="#{site.obey.content.chat}">Chat</label>
										<input id="chatid-send-field" type="text" th:field="*{sendChatId}" size="20" th:placeholder="#{site.obey.content.chat.id}"/>
										<input id="arg-send-field" type="text" th:field="*{sendChatArg}" size="100" th:placeholder="#{site.obey.content.text}"/>
										<label for="arg-send-field" th:text="#{site.obey.content.message}">Message</label>
									</div>
									<div class="form-block">
										<label for="chatid-sticker-field" th:text="#{site.obey.content.chat}">Chat</label>
										<input id="chatid-sticker-field" type="text" th:field="*{stickerChatId}" size="20" th:placeholder="#{site.obey.content.chat.id}"/>
										<input id="arg-sticker-field" type="text" th:field="*{stickerChatArg}" size="100" th:placeholder="#{site.obey.send.sticker.id}"/>
										<label for="arg-sticker-field" th:text="#{site.obey.send.sticker}">Sticker</label>
									</div>
									<div class="form-block">
										<label for="chatid-image-field" th:text="#{site.obey.content.chat}">Chat</label>
										<input id="chatid-image-field" type="text" th:field="*{imageChatId}" size="20" th:placeholder="#{site.obey.content.chat.id}"/>
										<input id="arg-image-field" type="text" th:field="*{imageChatArg}" size="100" th:placeholder="#{site.obey.send.image.url}"/>
										<label for="arg-image-field" th:text="#{site.obey.send.image}">Sticker</label>
									</div>
									<p><input class="button" type="submit" value="Send" th:value="#{site.obey.send}"/></p>
								</form>
							</div>
							<div class="spring"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
