<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body>
		<div class="page">
			<!--/*@thymesVar id="users" type="java.util.List<ru.exlmoto.digest.site.model.user.User>"*/-->
			<!--/*@thymesVar id="order" type="java.lang.Boolean"*/-->
			<div th:fragment="members" class="user">
				<div th:if="${!users.isEmpty()}" th:with="path='/users'">
					<span class="table-header">
						<span class="table-header-title" th:utext="#{site.user.title}">Title</span>
						<span class="table-header-description" th:utext="#{site.goto.home}">Description</span>
					</span>
					<table class="users">
						<tr>
							<th class="user-header-5" th:text="#{site.user.number}" nowrap>Index</th>
							<th class="user-header-15" nowrap>
								<a th:href="@{__${path}__(desc=${!order})}" th:text="#{site.user.name}" th:title="#{site.user.name.sort}">Name</a>
							</th>
							<th class="user-header-15" nowrap>
								<a th:href="@{__${path}__(sort='group',desc=${!order})}" th:text="#{site.user.group}" th:title="#{site.user.group.sort}">Group</a>
							</th>
							<th class="user-header-15" nowrap>
								<a th:href="@{__${path}__(sort='id',desc=${!order})}" th:text="#{site.user.id}" th:title="#{site.user.id.sort}">Number</a>
							</th>
							<th class="user-header-15" nowrap>
								<a th:href="@{__${path}__(sort='post',desc=${!order})}" th:text="#{site.user.message}" th:title="#{site.user.message.sort}">Message</a>
							</th>
							<th class="user-header-35" th:text="#{site.user.avatar}" nowrap>Avatar</th>
						</tr>
						<tr th:each="user : ${users}">
							<td class="user-cell">
								<span th:text="${user.index}">Index</span>
							</td>
							<td class="user-cell">
								<span th:utext="${user.username_html}">Username</span>
							</td>
							<td class="user-cell">
								<span th:text="${user.group}">Group</span>
							</td>
							<td class="user-cell">
								<span th:text="${user.user_id}">Number</span>
							</td>
							<td class="user-cell">
								<span th:utext="${user.messages_html}">Messages</span>
							</td>
							<td class="user-avatar">
								<img th:if="${user.avatar != null}" width="160" height="160" alt="Not Available" th:alt="#{site.content.avatar.general.alt}" src="../static/image/avatar.png" th:src="${user.avatar}" th:title="${user.username}"/>
								<img th:unless="${user.avatar != null}" width="160" height="160" alt="Default Avatar" th:alt="#{site.content.avatar.default.alt}" src="../static/image/avatar.png" th:src="@{/image/avatar.png}" th:title="${user.username}"/>
							</td>
						</tr>
					</table>
				</div>
				<h3 th:unless="${!users.isEmpty()}" th:text="#{site.content.empty}">No matching records found in the database.</h3>
			</div>
		</div>
	</body>
</html>
