<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body>
		<div class="page">
			<div th:fragment="members" class="user">
				<div th:if="${!users.isEmpty()}">
					<span class="table-header">
						<span class="table-header-title" th:utext="#{site.user.title}">Title</span>
					</span>
					<table class="users">
						<tr>
							<th th:text="#{site.user.avatar}" nowrap>Avatar</th>
							<th th:text="#{site.user.name}" nowrap>Name</th>
							<th th:text="#{site.user.id}" nowrap>Number</th>
							<th th:text="#{site.user.group}" nowrap>Group</th>
							<th th:text="#{site.user.message}" nowrap>Message</th>
						</tr>
						<tr th:each="user : ${user.lists}">
							<td>

							</td>
						</tr>
					</table>
				</div>
				<h3 th:unless="${!posts.digests.isEmpty()}" th:text="#{site.content.empty}">No matching records found in the database.</h3>
			</div>
		</div>
	</body>
</html>
